@import "tailwindcss";

/* Optional: only if self-hosting fonts */
@font-face {
  font-family: "Host Grotesk";
  src: url("/fonts/host-grotesk-latin-300.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Host Grotesk";
  src: url("/fonts/host-grotesk-latin-500.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Host Grotesk";
  src: url("/fonts/host-grotesk-latin-600.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Host Grotesk";
  src: url("/fonts/host-grotesk-latin-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-primary-10: #10171f /* Primary/Black */;
  --color-primary-20: #b22726 /* Primary/RED */;
  --color-secondary-10: #f9c80e /* Secondary/Yellow */;
  --color-secondary-20: #e20700 /* Secondary/RED */;
  --color-secondary-30: #7c0400 /* Secondary/Dark RED */;
  --color-secondary-40: #7b7b7b /* Text/Secondary Text */;
  --color-tertiary-gray-5: #f3f3f4 /* Gray/Gray 5 */;
  --color-tertiary-gray-10: #e7e8e9 /* Gray/Gray 10 */;
  --color-tertiary-gray-20: #cfd1d2 /* Gray/Gray 20 */;
  --color-tertiary-gray-30: #b7b9bc /* Gray/Gray 20 */;
  --color-tertiary-gray-50: #878b8f /* Gray/Gray 50 */;
  --color-tertiary-gray-80: #40454c /* Gray/Gray 80 */;
  /*  */
  --font-host: "Host Grotesk", sans-serif;
}

@layer base {
  body {
    font-family: var(--font-host);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    font-family: var(--font-host);
    line-height: 130%;
  }
}
